#mapCanvas .plusMap {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.logo, .footer-content, .description, .copy-align {
    text-align: center;
    vertical-align: top;
    
}

.disp-notice {
	font-size:10px;
}

/* 時刻表ページ関連 */
.headderStationNameBack{
	background-color: #F5F5F5;
}
.headderStationNameKind{
	font-size:18px;
	padding: 5px 0 0px 10px;
}
.headderStationNameLink{
	font-size:11px;
	padding: 10px 5px 0 0;
}

/* 駅名表示見出し */
.headderStationName {
	font-size:18px;
	font-weight: bold;
	/*border: 1px solid #DCDCDC;*/
	background-color: #F5F5F5;
	padding: 5px 0 5px 10px;
}

/* 路線名表示見出し */
.headderLineNameBack{
	background-color: #6495ED;
}
.headderLineName {
	font-size:15px;
	color: #ffffff;
	font-weight: bold;
	/*border: 1px solid #DCDCDC;*/
	background-color: #6495ED;
	padding: 3px 0 3px 10px;
}
.headderLineNameLink{
	font-size:11px;
	color: #ffffff;
	padding: 5px 5px 0 0;
}
.headderLineNameLink a{
	color: #ffffff;
}
.headderLineNameLink p{
	cursor: pointer;
}



/* 方面表示背景 */
.headderDirection {
	padding: 5px 5px 5px 5px;
	background-color: #FDFDFD;
}
/* 時刻などの表示文字 */
.font-disp-time {
	font-size:18px;
	font-weight: bold;
}
.font-disp-time-count{
	font-size:24px;
	font-weight: bold;
}
.font-disp-time-count-2{
	font-size:14px;
}

.disp-table-minute{
	border-bottom: 1px dotted #DCDCDC;
}

/* 注意書き */
.headderNotice {
	font-size:14px;
	color: #ffffff;
	font-weight: bold;
	background-color: #6495ED;
	padding: 1px 0 1px 10px;
	margin-bottom: 1px;
}

.noticeContent {
	font-size:14px;
	padding: 5px 5px 5px 5px;
	background-color: #FDFDFD;
	padding: 1px 0 1px 10px;
}

/* extend twitter bootstrap */

.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 5px;
}

.container{
	padding: 0 0 0 0;
}

.row{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
}



